@use 'node_modules/@sipster/core/tools' as *;

body {
  --sds_text_color: var(--sds_theme_text, #{sds-color(black)});
  --sds_text_subtle_color: var(
    --sds_theme_text_subtle,
    #{sds-color(neutral, 60)}
  );
  --sds_text_contrast_color: var(
    --sds_theme_text_inverted,
    #{sds-color(white)}
  );
  --sds_text_subtle_contrast_color: var(
    --sds_theme_text_inverted_subtle,
    #{sds-color(neutral, 40)}
  );
}
