@import 'node_modules/@sipster/core/tools';

.sds_popoverMenu_header {
  --sds_popoverMenu_divider_header: var(--sds_theme_text, #{sds-color(neutral, 70)});
}

.sds_popoverMenu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sds-spc(8) sds-spc(12);
}

.sds_popoverMenu_actions {
  display: flex;
  flex-direction: row;
  gap: sds-spc(4);
}

.sds_popoverMenu_title {
  @include sds-typeset(mouse);
  color: var(--sds_popoverMenu_divider_header);
  margin-right: sds-spc(8);
  flex-shrink: 0;
}
