body {
  --sds_datePicker_background: var(
    --sds_theme_control_background,
    #{sds-color(white)}
  );
  --sds_datePicker_border_color: var(
    --sds_theme_control_border,
    #{sds-color(neutral, 30)}
  );
  --sds_datePicker_border_radius: var(--sds_theme_border_radius, 0.5rem);
  --sds_datePicker_border_style: solid;
  --sds_datePicker_border_width: 1px;
  --sds_datePicker_baseIcon: var(
    --sds_theme_control_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_placeholder: var(
    --sds_theme_control_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_text: var(--sds_theme_control_text, #{sds-color(black)});

  --sds_datePicker_hover_background: var(
    --sds_theme_control_hover_background,
    #{sds-color(white)}
  );
  --sds_datePicker_hover_border_color: var(
    --sds_theme_control_hover_border,
    #{sds-color(neutral)}
  );
  --sds_datePicker_hover_border_radius: var(--sds_datePicker_border_radius);
  --sds_datePicker_hover_border_style: var(--sds_datePicker_border_style);
  --sds_datePicker_hover_border_width: var(--sds_datePicker_border_width);
  --sds_datePicker_hover_baseIcon: var(
    --sds_theme_control_hover_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_hover_placeholder: var(
    --sds_theme_control_hover_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_hover_text: var(
    --sds_theme_control_hover_text,
    #{sds-color(black)}
  );

  --sds_datePicker_focus_background: var(
    --sds_theme_control_focus_background,
    #{sds-color(white)}
  );
  --sds_datePicker_focus_border_color: var(
    --sds_theme_focus_border,
    #{sds-color(indigo, 60)}
  );
  --sds_datePicker_focus_border_radius: var(
    --sds_datePicker_hover_border_radius
  );
  --sds_datePicker_focus_border_style: var(--sds_datePicker_hover_border_style);
  --sds_datePicker_focus_border_width: 2px;
  --sds_datePicker_focus_baseIcon: var(
    --sds_theme_control_focus_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_focus_placeholder: var(
    --sds_theme_control_focus_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_focus_text: var(
    --sds_theme_control_focus_text,
    #{sds-color(black)}
  );

  --sds_datePicker_error_background: var(
    --sds_theme_control_error_background,
    #{sds-color(red, 05)}
  );
  --sds_datePicker_error_border_color: var(
    --sds_theme_control_error_border,
    #{sds-color(red, 60)}
  );
  --sds_datePicker_error_border_radius: var(--sds_datePicker_border_radius);
  --sds_datePicker_error_border_style: var(--sds_datePicker_border_style);
  --sds_datePicker_error_border_width: 2px;
  --sds_datePicker_error_baseIcon: var(--sds_datePicker_baseIcon);
  --sds_datePicker_error_icon: var(
    --sds_theme_control_error_icon,
    #{sds-color(red, 60)}
  );
  --sds_datePicker_error_placeholder: var(
    --sds_theme_control_error_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_error_text: var(
    --sds_theme_control_error_text,
    #{sds-color(red, 70)}
  );

  --sds_datePicker_readOnly_background: var(
    --sds_theme_control_background,
    #{sds-color(white)}
  );
  --sds_datePicker_readOnly_border_color: var(
    --sds_theme_control_border,
    #{sds-color(neutral, 30)}
  );
  --sds_datePicker_readOnly_border_radius: var(--sds_datePicker_border_radius);
  --sds_datePicker_readOnly_border_style: var(--sds_datePicker_border_style);
  --sds_datePicker_readOnly_border_width: var(--sds_datePicker_border_width);
  --sds_datePicker_readOnly_baseIcon: var(
    --sds_theme_control_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_readOnly_icon: var(
    --sds_theme_control_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_readOnly_placeholder: var(
    --sds_theme_control_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_readOnly_text: var(
    --sds_theme_control_text,
    #{sds-color(black)}
  );

  --sds_datePicker_disabled_background: var(
    --sds_theme_control_disabled_background,
    #{sds-color(white)}
  );
  --sds_datePicker_disabled_border_color: var(
    --sds_theme_control_disabled_border,
    #{sds-color(neutral, 30)}
  );
  --sds_datePicker_disabled_border_radius: var(--sds_datePicker_border_radius);
  --sds_datePicker_disabled_border_style: var(--sds_datePicker_border_style);
  --sds_datePicker_disabled_border_width: var(--sds_datePicker_border_width);
  --sds_datePicker_disabled_baseIcon: var(
    --sds_theme_control_disabled_icon,
    #{sds-color(neutral, 40)}
  );
  --sds_datePicker_disabled_opacity: var(--sds_theme_disabled_opacity, 48%);
  --sds_datePicker_disabled_placeholder: var(
    --sds_theme_control_disabled_placeholder,
    #{sds-color(neutral, 60)}
  );
  --sds_datePicker_disabled_text: var(
    --sds_theme_control_disabled_text,
    #{sds-color(black)}
  );
}
