@use 'node_modules/@sipster/core/tools' as *;
@forward 'tokens';

.sds_password {
  width: 256px;
  display: inline-flex;
  flex-direction: column;
  .sds_password_box {
    width: 100%;
  }
}

.sds_password_box {
  @include sds-flex(center, center);
  flex-shrink: 1;
  width: 256px;
}

.sds_password_button.sds_button {
  border-radius: 0 var(--sds_button_border_radius)
    var(--sds_button_border_radius) 0;
  z-index: 2;
  &:hover,
  &:focus-visible,
  &:active {
    border-radius: 0 var(--sds_button_border_radius)
      var(--sds_button_border_radius) 0;
    z-index: 2;
  }
}

.sds_password_inputBox {
  width: calc(100% - 36px);
  @include sds-flex(center, center);
  width: 100%;
  position: relative;
  z-index: 1;
}

.sds_password_input {
  width: 100%;
  height: 36px;
  padding: sds-spc(8) sds-spc(12);
  background: var(--sds_password_background);
  border-radius: var(--sds_password_border_radius) 0 0
    var(--sds_password_border_radius);
  border-width: var(--sds_password_border_width);
  border-color: var(--sds_password_border_color);
  color: var(--sds_password_text);
  border-style: var(--sds_password_border_style);
  border-right-width: 0;
  outline: none;
  &::-ms-reveal {
    display: none;
  }
  &::placeholder {
    color: var(--sds_password_placeholder);
  }
  &:hover {
    background: var(--sds_password_hover_background);
    border-color: var(--sds_password_hover_border_color);
    border-radius: var(--sds_password_hover_border_radius) 0 0
      var(--sds_password_hover_border_radius);
    border-style: var(--sds_password_hover_border_style);
    border-width: var(--sds_password_hover_border_width);
    color: var(--sds_password_hover_text);
    &::placeholder {
      color: var(--sds_password_hover_placeholder);
    }
  }
  &:focus {
    background: var(--sds_password_focus_background);
    border-color: var(--sds_password_focus_border_color);
    border-radius: var(--sds_password_focus_border_radius) 0 0
      var(--sds_password_focus_border_radius);
    border-style: var(--sds_password_focus_border_style);
    border-width: var(--sds_password_focus_border_width);
    color: var(--sds_password_focus_text);
    &::placeholder {
      color: var(--sds_password_focus_placeholder);
    }
  }
}
.sds_password_input--error,
.sds_password_input--error:hover,
.sds_password_input--error:focus {
  background: var(--sds_password_error_background);
  border-color: var(--sds_password_error_border_color);
  border-radius: var(--sds_password_error_border_radius) 0 0
    var(--sds_password_error_border_radius);
  border-style: var(--sds_password_error_border_style);
  border-width: var(--sds_password_error_border_width);
  color: var(--sds_password_error_text);
  &::placeholder {
    color: var(--sds_password_error_placeholder);
  }
}
.sds_password_input--disabled,
.sds_password_input--disabled:hover,
.sds_password_input--disabled:focus {
  opacity: var(--sds_password_disabled_opacity);
  cursor: not-allowed;
  background: var(--sds_password_disabled_background);
  border-color: var(--sds_password_disabled_border_color);
  border-radius: var(--sds_password_disabled_border_radius) 0 0
    var(--sds_password_disabled_border_radius);
  border-style: var(--sds_password_disabled_border_style);
  border-width: var(--sds_password_disabled_border_width);
  color: var(--sds_password_disabled_text);
  &::placeholder {
    color: var(--sds_password_disabled_placeholder);
  }
}

.sds_password_telicon,
.sds_password_emoji {
  position: absolute;
  right: 12px;
}

.sds_password_label {
  margin-bottom: sds-spc(4);
}

.sds_password_input {
  &.sds_passoword--internal_icon {
    padding-right: 40px;
  }
}

.sds_password_telicon {
  &.sds_password_telicon--error {
    color: var(--sds_password_error_icon);
  }
}

.sds_password_button:hover {
  border-radius: 0 var(--sds_button_border_radius)
    var(--sds_button_border_radius) 0;
}
